body{
	background-color: #ff9999;
}

@font-face {
  font-family: SegoePrint;
  src: url(../fonts/SegoePrint.ttf);
}

#blank {
	width: 100%;
	height: 400px;
	background-color: rgba(255, 255, 255, 0.4);
}

#spinner {
	position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

#brand-name span{
	font-family: SegoePrint;
	font-size: 1.7rem;
	color: #FF0066;
}

.nav-item a {
	font-family: 'Oxygen', sans-serif;
	font-size: 16px;
}

#content{
	margin-top: 30px;
	margin-bottom: 20px;
	margin-right: 2px;
	margin-left: 2px;
	background-color: white;
	border-radius: 9px;
}

#head-1 {
	background-color: #4dffdb;
	padding-bottom: 10px;
	padding-top: 5px;
}

section {
	margin: 10px 0px;
	width: 100%;
}

.header-active {
	padding: 0px 9px;
	background-color: #00cc99;
	border-radius: 35px;
}

.nav-active {
	padding: 0px 4px;
	background-color: #ccffcc;
	border-radius: 0px 0px 10px 10px;
}

#navbar-2 a{
	font-size: 12px;
	font-weight: bold;
	color: #009999;
}

#navbar-2 a:hover {
	color: #ff0066;
}

#navbar-2 {
	border-radius: 0px 0px 10px 10px;
	background-color: #ffcccc;
}

.color-card-1 {
	background-color: rgba(255, 255, 255, 0.4);
}

#footer {
	background-color: #ccffff;
}

#social-link {
	text-align: center;
}

span {
	font-size: 13px;
}

.scrollspy-height {
	height: 480px;
	overflow: auto;
}

.scroll-hide::-webkit-scrollbar {
  display: none;
}

/* width */
.scrollspy-height::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.scrollspy-height::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
.scrollspy-height::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
.scrollspy-height::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

#list-1 {
	position: relative;
}

.card-btn .btn {
	border-radius: 0px 0px 3px 3px;
	padding-top: 15px;
	padding-bottom: 15px;
	font-size: 18px;
}

div > ul {
	font-weight: bold;
}

.hunger-1 {
	border: solid black;
}

#p-1{
	background-color: #ccffff;
	font-weight: bold; 
}

.shadow-box-1 {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-header-1 {
	background-color: white;
}

.scroll-list-recipe {
	height: 250px;
	overflow: auto;
}

/* width */
.scroll-list-recipe::-webkit-scrollbar {
  width: 3px;
}

/* Track */
.scroll-list-recipe::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
.scroll-list-recipe::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
.scroll-list-recipe::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.shadow {
   -moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;
}






// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
	h2{
		font-size: 16px;
	}
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
	h2{
		font-size: 16px;
	}
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }